/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  /*background-color: #f5f7fa;*/
  background-image: url("/img/bg.jpg");
  font-size: 15px;
}
.wrapper > .aside {
  background-color: #0E504A;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #ffffff;
}
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #0E504A 0%, #0E504A 100%);
  background-image: -o-linear-gradient(left, #0E504A 0%, #0E504A 100%);
  background-image: linear-gradient(to right, #0E504A 0%, #0E504A 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c3e50', endColorstr='#ff2c3e50', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #0E504A;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #9c9c9c;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #9c9c9c;
}
.topnavbar .nav-wrapper {
  background-color: #0E504A;
  background-image: -webkit-linear-gradient(left, #0E504A 0%, #0E504A 100%);
  background-image: -o-linear-gradient(left, #0E504A 0%, #0E504A 100%);
  background-image: linear-gradient(to right, #0E504A 0%, #0E504A 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c3e50', endColorstr='#ff2c3e50', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #0E504A;
    background-image: -webkit-linear-gradient(left, #0E504A 0%, #0E504A 100%);
    background-image: -o-linear-gradient(left, #0E504A 0%, #0E504A 100%);
    background-image: linear-gradient(to right, #0E504A 0%, #0E504A 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c3e50', endColorstr='#ff2c3e50', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #9c9c9c;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #ffffff;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #0E504A;
}
.sidebar .nav-heading {
  color: #919da8;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: #9c9c9c;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: #ffffff;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
  background-color: #984500;
  color: #ffffff;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: #ffffff;
}
.sidebar .nav > li.active {
  border-left-color: #ffffff;
}
.sidebar-subnav {
  background-color: #0E504A;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #9c9c9c;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #9c9c9c;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #ffffff;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #ffffff;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #ffffff;
  background-color: #ffffff;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
  color: #515253;
}

ol, ul, li{
  list-style: none;
}
.simple_list LI {
  BORDER-BOTTOM: #dedede 1px solid;
  TEXT-ALIGN: center;
  LINE-HEIGHT: 74px;
  WIDTH: 106px;
  FLOAT: left;
  HEIGHT: 74px;
  FONT-SIZE: 14px;
  BORDER-RIGHT: #dedede 1px solid;
}
.simple_list LI A {
  WIDTH: 106px;
  FLOAT: left;
  HEIGHT: 74px;
  COLOR: #000;
  text-decoration: none;
}
.simple_list LI A.s1 {
  BACKGROUND: #f7f9ea;
}
.simple_list LI A.s1:hover {
  BACKGROUND: url(/img/simple_abg.png) #f7f9ea no-repeat
}
.simple_list LI.cur A.s1{
  BACKGROUND: url(/img/simple_abg.png) #f7f9ea no-repeat
}
.simple_list LI A.s2 {
  BACKGROUND: #fef6ec
}
.simple_list LI A.s2:hover {
  BACKGROUND: url(/img/simple_abg.png) #fef6ec no-repeat
}
.simple_list LI.cur A.s2{
  BACKGROUND: url(/img/simple_abg.png) #fef6ec no-repeat
}
.simple_list LI A.s3 {
  BACKGROUND: #f5f3fb
}
.simple_list LI A.s3:hover {
  BACKGROUND: url(/img/simple_abg.png) #f5f3fb no-repeat
}
.simple_list LI.cur A.s3{
  BACKGROUND: url(/img/simple_abg.png) #f5f3fb no-repeat
}
.simple_list LI A.s4 {
  BACKGROUND: #f1fafd
}
.simple_list LI A.s4:hover {
  BACKGROUND: url(/img/simple_abg.png) #f1fafd no-repeat
}
.simple_list LI.cur A.s4{
  BACKGROUND: url(/img/simple_abg.png) #f1fafd no-repeat
}
.simple_list LI A.s5 {
  BACKGROUND: #fdeff5
}
.simple_list LI A.s5:hover {
  BACKGROUND: url(/img/simple_abg.png) #fdeff5 no-repeat
}
.simple_list LI.cur A.s5{
  BACKGROUND: url(/img/simple_abg.png) #fdeff5 no-repeat
}
.simple_list LI A.s6 {
  BACKGROUND: #fdfef3
}
.simple_list LI A.s6:hover {
  BACKGROUND: url(/img/simple_abg.png) #fdfef3 no-repeat
}
.simple_list LI.cur A.s6{
  BACKGROUND: url(/img/simple_abg.png) #fdfef3 no-repeat
}
.simple_list LI A.s7 {
  BACKGROUND: #effcec
}
.simple_list LI A.s7:hover {
  BACKGROUND: url(/img/simple_abg.png) #effcec no-repeat
}
.simple_list LI.cur A.s7{

  BACKGROUND: url(/img/simple_abg.png) #effcec no-repeat
}
.simple_list LI A.s8 {
  BACKGROUND: #edf8d3; COLOR: #2b9501; FONT-WEIGHT: bold
}
.simple_list LI A.s8:hover {
  BACKGROUND: url(/img/simple_abg.png) #edf8d3 no-repeat
}
.simple_list LI.cur A.s8{
  BACKGROUND: url(/img/simple_abg.png) #edf8d3 no-repeat
}
.simple_list LI A.s8 EM {
  FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 30px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}

.modal fade{
  color: black;
}