<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
	<section layout:fragment="content">
		<div class="content-wrapper">
			<h3>更改资料</h3>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<form id="editUserInfoForm">
							<table border="0" align="center" style="border-collapse:separate; border-spacing:0px 20px;">
								<tr>
									<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">邮箱：</td>
									<td >
										<div class="form-group">
											<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
												<span th:text="${session.mars_user.email}"></span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">昵称：</td>
									<td >
										<div class="form-group">
											<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
												<span th:text="${session.mars_user.name}" ></span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">性别：</td>
									<td >
										<div class="form-group">
											<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
												<input type="radio" name= "sex" value="1" th:checked="${session.mars_user.sex==1}">&nbsp;<em class="icon-symbol-male"></em>&nbsp;&nbsp;
												<input type="radio" name= "sex" value="2" th:checked="${session.mars_user.sex==2}">&nbsp;<em class="icon-symble-female"></em>&nbsp;&nbsp;
												<input type="radio" name= "sex" value="0" th:checked="${session.mars_user.sex==0}">&nbsp;<label>保密</label>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">收入：</td>
									<td >
										<div class="form-group">
											<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
												<input class="form-control" th:value="${session.mars_user.income}" placeholder="0.00元" type="text" name="income" id="income" />
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">描述：</td>
									<td >
										<div class="form-group">
											<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
												<textarea style="resize:none" th:text="${session.mars_user.description}" id="description" name="description" class="form-control" >
												</textarea>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2" align="center">
										<div class="form-group">
											<button class="btn btn-block btn-primary mt-lg" style="width: 80%;" onclick="editUserInfo()">修改</button>
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
<script th:src="@{/js/user/editUserInfo.js}" ></script>
</body>
</html>