<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<section layout:fragment="content">
	<div class="content-wrapper">
		<h3>更改头像</h3>
		<div class="container-fluid" style="text-align: center;">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="panel">
						<div class="panel-heading">
							原头像
						</div>
						<div class="panel-body">
							<img style="width:137px;height: 127px;" th:src="${session.mars_user.logo == null?'img/testlogo.png':session.mars_user.logo}" alt=""/>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							请选择一张图片
						</div>
						<div class="panel-body">
							<div class="form-group">
								<form enctype="multipart/form-data" method="POST">
									<input type="file" name="file" id="file" class="file" >
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<script th:src="@{/js/user/editUserLogo.js}" ></script>
</body>
</html>