<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<section layout:fragment="content">
	<div class="content-wrapper">
		<h3>更改密码</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<form id="editUserPasswordForm">
						<table border="0" align="center" style="border-collapse:separate; border-spacing:0px 20px;">
							<tr>
								<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">请输入旧密码：</td>
								<td >
									<div class="form-group">
										<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
											<input type="text" name="oldPassword" id="oldPassword"  placeholder="旧密码" class="form-control" >
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">请输入新密码：</td>
								<td >
									<div class="form-group">
										<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
											<input type="text" name="newPassword" id="newPassword" placeholder="新密码" class="form-control" >
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td nowrap="nowrap" style="text-align: right;padding-right: 30px;">再次输入新密码：</td>
								<td >
									<div class="form-group">
										<div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
											<input type="text" name="newPassword2" id="newPassword2"  placeholder="再次输入新密码" class="form-control" >
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="center">
									<div class="form-group">
										<button class="btn btn-block btn-primary mt-lg" style="width: 80%;" onclick="editUserPassword()">修改</button>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>
<script th:src="@{/js/user/editUserPassword.js}" ></script>
</body>
</html>