<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<section layout:fragment="content">
	<div class="content-wrapper">
		<h3>更改头像</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="panel">
						<div class="panel-heading">
							原头像
						</div>
						<div class="panel-body">
							<img style="width:137px;height: 127px;" th:src="${session.mars_user.logo == null?'img/testlogo.png':session.mars_user.logo}" alt=""/>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							请选择一张图片
						</div>
						<div class="panel-body">
							<div class="form-group">
								<form enctype="multipart/form-data" method="POST">
									<input type="file" name="file" id="file" class="file" >
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<script type="text/javascript">
    $(function(){
        $("#file").fileinput({
            uploadUrl:"/user/editUserLogo",
            dropZoneEnabled: false,
            showPreview :true, //是否显示预览
            maxFileCount:1, //表示允许同时上传的最大文件个数
            autoReplace:true,
            minFileSize:1,
            maxFileSize:3072,
            allowedFileExtensions: ['jpg','png']
        });
        $('#file').on('fileuploaded', function(event, data, previewId, index) {
            console.log(data);
            if(data.response.resCode == "00000"){
                $('#updateSuccessModal').modal('show');
			}else{
                $("#errorMsg").html(data.response.resMsg);
                $('#updateFailedModal').modal('show');
			}
        });
    });
</script>
</body>
</html>