<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<!-- <script src="index/vendor/jquery/jquery.min.js"></script> -->
<script src="index/vendor/jquery/jquery.1.7.2.min.js"></script>
<!-- <script th:src="@{/vendor/jquery.form/jquery.form.min.js}"></script> -->
<script th:src="@{/vendor/jquery.form/jquery.form.js}"></script>
	<section layout:fragment="content">
	    <div class="content-wrapper">
	        <h3>编辑资料</h3>
	        <div class="row" style="algin:center;">
	            <div class="col-md-3">
	                <form id="editUser">
	               	<table>
	               		<tr>
	               			<td><p th:text="'邮箱：'+${user.email}" /></td>
	               		</tr>
	               		<tr>
	               			<td><p th:text="'昵称：'+${user.name}" /></td>
	               		</tr>
	               		<tr>
	               			<td style="display: inline;">性别：<input id="sex" name="sex" type="text" placeholder="性别" class="form-control" /></td>
	               		</tr>
	               		<tr>
	               			<td>头像：
	               				<!-- <img id="logo" name="logo" th:src="${user.logo == null?'img/testlogo.png':user.logo}" src="//storage.360buyimg.com/i.imageUpload/78696e6779756e39323133313431343831313638363030393635_mid.jpg"/> -->
	               				<img id="imgid" th:src="${user.logo == null?'img/testlogo.png':user.logo}" style="width:137px; height:127px"/>
	               				<div class="ftx03">仅支持JPG、GIF、PNG、JPEG、BMP格式，文件小于4M</div>
	               				
								<form id="upload" enctype="multipart/form-data" method="post">
									<p style='color:red;text-align:left;'>
						            	注：<br/>1.照片的像素为160*180px。<br/>2.照片格式为BMP/JPG/JPEG。<br/>3.建议照片大小不超过40k。
						            </p>
						            <input type="file" name="file" class="file" id="uploadimage"/><br/>  
						            <input type="button" value="上传" id="btn" style="width:137px; height:27px" onclick="uploadLogo()"/>
						        </form>
	               			</td>
	               		</tr>
	               		<!-- <tr>
	               			<td>
	               				<div class="update-rcol">
	                            <div class="smt"><h3>效果预览</h3></div>
	                            <div class="smc">
	                               	 你上传的图片会自动生成2种尺寸，请注意小尺寸的头像是否清晰
	                                <div class="img-m-cont img-cont">
	                                    <div class="img-s">
	                                        <img id="midImage" name="midImage" src="//storage.360buyimg.com/i.imageUpload/78696e6779756e39323133313431343831313638363030393635_mid.jpg"/>
	                                    </div>
	                                </div>
	                                100*100像素
	                                <div class="img-s-cont img-cont">
	                                    <div class="img-s">
	                                        <img id="smaImage" name="smaImage"  src="//storage.360buyimg.com/i.imageUpload/78696e6779756e39323133313431343831313638363030393635_sma.jpg"/>
	                                    </div>
	                                </div>
	                                50*50像素
	                            </div>
	                        </div>
	               			</td>
	               		</tr> -->
	               	</table>
	                  <button onclick="updateUser()" class="btn btn-block btn-primary mt-lg">提交</button>
	               </form>
	            </div>
	        </div>
	    </div>
	</section>
</body>
</html>