<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>云记账 | 让记账更简单</title>
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}"></link>
    　 <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"></link>
    <link rel="stylesheet" th:href="@{/vendor/bootstrapvalidator/bootstrapValidator.min.css}"></link>
    　 <link rel="stylesheet" th:href="@{/media/css/bootstrap.css}"></link>
    　 <link rel="stylesheet" th:href="@{/media/css/app.css}"></link>
    　 <link rel="stylesheet" th:href="@{/media/css/theme-i.css}"></link>
</head>
<body>
<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="/index">
                    <img src="/img/mars.png" alt="Image" class="block-center img-rounded"/>
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">重置密码</p>
                <form id="newPasswordForm">
                    <p class="text-center pv">请填写您的新密码</p>
                    <div class="form-group">
                        <input id="newPassword" name="newPassword" type="password" placeholder="新密码" class="form-control" />
                    </div>
                    <button onclick="newPassword1()" class="btn btn-block btn-primary mt-lg">提交</button>
                </form>
                <p></p>
                <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
            </div>
        </div>
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2018</span>
            <br/>
        </div>
    </div>
</div>
<script src="/index/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrapvalidator/bootstrapValidator.min.js}"></script>
<script th:src="@{/js/user/newPassword.js}"></script>
</body>
</html>