<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

     <header class="topnavbar-wrapper" th:fragment="header">

      <nav class="navbar topnavbar" role="navigation">

         <div class="navbar-header">

            <a class="navbar-brand" href="/index">
               <div class="brand-logo">
                  <img class="img-responsive" alt="App Logo" src="/img/avatar.png" style="height: 50px;width: 100px;" />
               </div>
            </a>

         </div>

         <div class="nav-wrapper">

            <ul class="nav navbar-nav navbar-right">

               <li>

                  <a title="消息通知" href="javascript:void(0);">

                     <em class="icon-bell"></em>

                  </a>

               </li>

               <li>

                  <a title="浏览记录" href="javascript:void(0);">

                     <em class="icon-clock"></em>

                  </a>

               </li>

               <li>

                  <a title="回收站" href="javascript:void(0);">

                     <em class="icon-trash"></em>

                  </a>

               </li>
				
				<li>

                  <a title="注销" href="#myModal" data-toggle="modal" data-target="#myModal">

                     <em class="icon-logout"></em>

                  </a>

               </li>
            </ul>

         </div>

      </nav>

   </header>
</body>

</html>