<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper">
        <h3>欢迎</h3>
        <div class="row">
            <div class="col-md-3">
                <form id="form" data-parsley-validate="true" onsubmit="return false">
                    <button id="addFavorites" class="btn btn-block btn-primary mt-lg">test 欢迎</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>