<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper">
        <h3>test</h3>
        <div class="row">
            <div class="col-md-3">
                <form id="form" data-parsley-validate="true" onsubmit="return false">
                    <div class="form-group">
                        <input id="name" type="text" class="form-control" placeholder="test" data-parsley-error-message="test" required="required"/>
                    </div>
                    <button id="addFavorites" class="btn btn-block btn-primary mt-lg">1111</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>